{
    services {
        {{#s_id}} id {{/s_id}}
        {{#s_name}} name {{/s_name}}
        {{#s_description}} description {{/s_description}}
        {{#provider}}
        provider {
            {{#p_id}} id {{/p_id}}
            {{#p_name}} name {{/p_name}}
            {{#p_description}} description {{/p_description}}
        }
        {{/provider}}
    }
}